<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Formulario Cliente</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body class="form">
	<header id="fheader">
		<h1>Formulario de datos</h1>
 	 <nav class="nav">
    	
   		 <a class="pink"  href="index.html">Programacion Visual</a>
   		 <a class="active" href="formCliente.html">Formulario</a>
    	
 	 </nav>
 	 <br>
	
	</header>

	<main class="main">
		
		<form action="">
			<label for="dni">DNI: </label>
			<input id="dni" type ="number" required placeholder="Ingrese Dnia" name="dni"></input><br>
			<label for="nombre">Nombres: </label>
			<input id="nombre" type ="text" required placeholder="Ingrese Nombre" name="nombre"></input><br>
			<label for="apellido">Apellido: </label>
			<input id="apellido" type ="text" required placeholder="Ingrese Apellido" name="apellido"></input><br>
			<label for="fechanac">Fecha nacimiento: </label>
			<input id="fechanac" type="date" required name="fechanac"><br>
			
			<label id="gen">Genero: </label>
			<input id="generoM" type="radio" value="Masculino" name="genero"><label for="generoM" class="light">Maculino: </label>
			<input id="generoF" type="radio" value="Femenino" name="genero"><label for="generoF" class="light">Femenino: </label>
			<input id="generoX" type="radio" value="X" name="genero"><label for="generoX" class="light">X: </label><br>
			<br>
			<label for="correo">Correo electronico: </label>
			<input id="correo" type="email" required="required" placeholder="Ingrese correo" name="correo"><br>
			<label for="domicilio">Domicilio: </label>
			<input id="domicilio" type="text" placeholder="Ingrese domicilio" name="domicilio" required><br>
			<label for="provincia">Provincia: </label>
			<select id="provincia" required="required" placeholder="Ingrese correo" name="correo">
			<option value="Jjuy">Jujuy</option>
			<option value="Salkta" selected>Salta</option>
			<option value="Mendoza">Mendoza</option>
			<option value="Jjuy">Jujuy</option>
			
			</select>			<br>
			<label for="telefono">Telefono: </label>
			<input id="telefono" type ="number" required placeholder="Ingrese numero de telefono" name="telefono"></input><br>
			<label >Categorias de interes </label>
			<div>
				
				<input id="futbol" type="checkbox" name="Intereses"><label for="futbol" class="light">Futbol</label><br>
				
				<input id="TURISMO" type="checkbox" name="Intereses"><label for="TURISMO" class="light">Turismo</label><br>				
				<input id="gastronomia" type="checkbox" name="Intereses"><label for="gastronomia" class="light">Gastronomia</label>
				<br>
			</div>
			<br>
			<label for="sugerencias">Sugerencias: </label>
			<textarea id="sugerencias" placeholder="Ingrese Sugerencias" name="sugerencias" rows="8" cols="40"></textarea><br>
			<label for="password" >Contraseña</label>
			<input id="password" type="password" placeholder="Ingrese contraseña" name="password" minlength="6" required> <br>
			<label for="password" >Confirmar Contraseña</label>
			<input id="password" type="password" placeholder="Ingrese contraseña" name="password" min="6" required> <br>
			
				<input id="t&c" type="checkbox" name="t&c" required><label for="t&c" class="light">Acepto Terminos y condiciones</label><br>
				
				<input id="info" type="checkbox" name="info"><label for="info" class="light">Recibir informacion relevante</label><br> 
				<br>      
        <button class="guardar" type="submit">Guardar</button><button class="cancelar" type="reset">Cancelar</button>
        
      
			
		</form>
	<footer  id="ffooter">
	<h2 class="rosa">Contacto</h2>
        <p>Correo electronico: <a href="correo@example.com">jaelsilva@gmail.com</a></p>
        <p>Encuentranos en:</p>
        <ul>
            <li><a class="pink" href="https://twitter.com/">Twitter</a></li>
            <li><a class="pink" href="https://instagram.com/">Instagram</a></li>
          <li><a class="pink" href="https://facebook.com/">Facebook</a></li>
         </ul>
</footer>
	</main>
</body>
</html>