<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Silva Jael</title>
</head>
<header>
<h1>Programacion Visual</h1>
</header>
<nav>
	<ul>
		<li><a href="">Inicio</a></li>
		<li><a href="">Java</a></li>
		<li><a href="">Contacto</a></li>
	</ul>
</nav>
<main>
	<section>
	<h2>Section h2</h2>
	<h3>Section h3</h3>
	<p>parrafo</p>
	</section>
	<section>
	<h2>Section h2</h2>
	<h3>Section h3</h3>
	<ol>
		<li>holi</li>
		<li>holaa</li>
		<li>holu</li>
	
	</ol>
	</section>
	
	<section>
	<h2>Section h2</h2>
	<h3>Section h3</h3>
		<table>
   		 <tr>
      	 	 <th>Encabezado 1</th>
      		  <th>Encabezado 2</th>
   		 </tr>
   		 <tr>
       		 <td>Dato 1</td>
        	<td>Dato 2</td>
    	</tr>
</table>
		
	</section>

</main>
<aside>
	<a>
		<img alt="" src="">
	</a> 
	
</aside>
<body>
</body>
<footer>
	<p>Contacto</p>
        <p><a href="correo@example.com">correo</a></p>
        <p>Redes:</p>
        <ul>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="https://instagram.com/">Instagram</a></li>
</footer>
</html>